.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 57px;
    width: 72px;
    padding-top: 5px;
    background-color: white;
    z-index: 101;
} 

.sidebar-link{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-img{
    height: 24px;
    margin-bottom: 5px;
}

